In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
train_data = pd.read_csv("../data/train.csv")

In [24]:
train_data.shape

(14123, 70)

In [3]:
train_data.head()

   id  var1  var2  var3   var4  ...       var65      var66     var67     var68  y
0   1    18    19  2853  29442  ...    0.253356    0.00603  0.132353  0.139706  1
1   8     4   110  1986  13684  ... -999.000000 -999.00000  0.147059  0.106618  0
2  30     0    39  1019  10232  ... -999.000000 -999.00000  0.382353  0.242647  0
3  43    20    39  1751   2689  ...    0.363370    0.00201  0.147059  0.132353  0
4  46     7    44  2262  29428  ... -999.000000 -999.00000  0.455882  0.132353  1

[5 rows x 70 columns]

In [4]:
train_data.dtypes.unique()

array([dtype('int64'), dtype('float64')], dtype=object)

In [5]:
train_data.isna().sum().sum()

0

In [6]:
train_data['y'].sum()/len(train_data['y'])

0.2017984847412023

# Making a simple model for the first submission

In [10]:
from lightgbm import LGBMClassifier
from sklearn.metrics import f1_score

In [8]:
baseline = LGBMClassifier()

In [13]:
X_train = train_data.iloc[:, 1:-1]
y_train = train_data.iloc[:, -1]

In [14]:
X_train

       var1  var2  var3   var4  ...       var65      var66     var67     var68
0        18    19  2853  29442  ...    0.253356    0.00603  0.132353  0.139706
1         4   110  1986  13684  ... -999.000000 -999.00000  0.147059  0.106618
2         0    39  1019  10232  ... -999.000000 -999.00000  0.382353  0.242647
3        20    39  1751   2689  ...    0.363370    0.00201  0.147059  0.132353
4         7    44  2262  29428  ... -999.000000 -999.00000  0.455882  0.132353
...     ...   ...   ...    ...  ...         ...        ...       ...       ...
14118     4    39  2511  28766  ... -999.000000 -999.00000  0.455882  0.147059
14119    19   129  1114   -999  ... -999.000000 -999.00000  0.147059  0.198529
14120    27    44  1786  23761  ... -999.000000 -999.00000  0.397059  0.158088
14121     4    89   210  19593  ... -999.000000 -999.00000  0.264706  0.128676
14122    21    53   568   4612  ... -999.000000 -999.00000  0.176471  0.128676

[14123 rows x 68 columns]

In [15]:
baseline.fit(X_train, y_train)

LGBMClassifier()

In [16]:
f1_score(y_train, baseline.predict(X_train))

0.8136054421768707

In [17]:
test_data = pd.read_csv('../data/test.csv')

In [19]:
test_data.head()

   id  var1  var2  var3   var4  ...     var64  var65  var66     var67     var68
0   0     5   126  1353  28956  ...  0.016683 -999.0 -999.0  0.176471  0.253676
1   2     6   126  1446   7803  ...  0.038323 -999.0 -999.0  0.147059  0.099265
2   4     5    44   243   4325  ...  0.021052 -999.0 -999.0  0.294118  0.136029
3   7     4    53   419    743  ...  0.022649 -999.0 -999.0  0.294118  0.220588
4  15     4   126  1863  22693  ...  0.021806 -999.0 -999.0  0.352941  0.113971

[5 rows x 69 columns]

In [20]:
submission = test_data[['id']]

In [21]:
submission['predicted'] = baseline.predict(test_data.iloc[:, 1:])

/home/pedro_zaterka/anaconda3/envs/dlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
submission.to_csv('../submissions/base_submission.csv', sep=',', index=False)

# Adressing problems in the data

In [25]:
train_data_na = train_data.replace(-999, np.NaN)

In [27]:
train_data_na.isna().sum().describe()

count       70.000000
mean       902.671429
std       2208.194034
min          0.000000
25%          0.000000
50%          0.000000
75%       1375.000000
max      12197.000000
dtype: float64

In [28]:
train_data_na.isna().sum().sort_values(ascending=False)

var66    12197
var65    12197
var60     6484
var10     2339
var8      2214
         ...
var35        0
var33        0
var32        0
var31        0
id           0
Length: 70, dtype: int64

In [29]:
metadata = pd.read_csv('../data/metadata.csv')

In [32]:
discrete_var = metadata.loc[metadata['Variavel tipo'] == 'Quantitativo discreto', 'Variavel cod'].values[:-1]

In [35]:
discrete_var

array(['var24', 'var25', 'var27', 'var40', 'var44', 'var45', 'var46',
       'var47', 'var48', 'var49', 'var50', 'var51', 'var52', 'var53',
       'var54', 'var67', 'var68'], dtype=object)

In [41]:
train_data_na[discrete_var].nunique()

var24     3
var25     5
var27     2
var40    21
var44     2
var45    16
var46    15
var47     6
var48    10
var49     2
var50     2
var51     2
var52    64
var53     4
var54     4
var67    58
var68    96
dtype: int64